@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Editando Gasto</h2>
<form asp-controller="Expense" asp-action="postExpense" method="post" class="form">

    <div class="form-group mt-3 mb-3">
        <label for="title">Título</label>
        <input form="title" placeholder="Raqueta de padel" class="form-control" />
    </div>

    <div class="form-group  mt-3 mb-3">
        <label for="company">Establecimiento</label>
        <input form="company" placeholder="Palestra" class="form-control" />
    </div>

    <div class="form-group  mt-3 mb-3">
        <label for="amount">Cantidad</label>
        <input form="amount" placeholder="3500" type="number" class="form-control" />
    </div>

    <div class="form-group  mt-3 mb-3">
        <label for="date">Fecha</label>
        <input form="date" placeholder="Raqueta de padel" type="date" class="form-control" />
    </div>
    <div class="form-group  mt-3 mb-3">
        <label for="folio">Folio</label>
        <input form="folio" placeholder="1234" type="number" class="form-control" />
    </div>
    <div class="form-group  mt-3 mb-3">
        <button type="submit">Crear</button>
    </div>


</form>
